body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

p {
  color: #fff;
}

.navbar {
  transition: all 0.4s;
}

.jumbotron {  
  background: none !important;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  background: #fff;
  width: 100%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .jumbotron {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
  .warning {
    display: none;
  }
}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  /*background: #fff;*/
  background-image: url("bg1.jpg");
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
    color: #555;
  }
}